<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{static/loginandregister/img/apple-icon.png}" />
	<link rel="icon" type="image/png" th:href="@{static/loginandregister/img/favicon.png}" />
	<title>Paper Bootstrap Wizard by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <link th:href="@{static/loginandregister/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{static/loginandregister/css/paper-bootstrap-wizard.css}" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link th:href="@{static/loginandregister/css/demo.css}" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link th:href="@{static/loginandregister/css/themify-icons.css}" rel="stylesheet">
</head>

<body>
	<div class="image-container set-full-height" style="background-image: url('static/loginandregister/img/paper-2.jpeg')">
	    <!--   Creative Tim Branding   -->

		<!--  Made With Paper Kit  -->
		<a href="#/paper-kit?ref=paper-bootstrap-wizard" class="made-with-pk">
			<div class="brand">PK</div>
			<div class="made-with">Made with <strong>Paper Kit</strong></div>
		</a>
		<div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">

		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" id="wizard">
		                <form action="registercontroller" method="post">
		                <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

		                    	<div class="wizard-header">
		                        	<h3 class="wizard-title">注册</h3>
		                    	</div>
								<div class="wizard-navigation">
									<div class="progress-with-circle">
									    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
									</div>
									<ul>
			                            <li>
											<a href="#location" >
												<div class="icon-circle">
													<i class="ti-map"></i>
												</div>
												手机验证
											</a>
										</li>
			                            <li>
											<a href="#type" >
												<div class="icon-circle">
													<i class="ti-direction-alt"></i>
												</div>
												完善信息
											</a>
										</li>
			                            <li>
											<a href="#facilities">
												<div class="icon-circle">
													<i class="ti-panel"></i>
												</div>
												身份验证
											</a>
										</li>
			                        </ul>
								</div>
		                        <div class="tab-content">
		                            <div class="tab-pane" id="location">
		                            	<div class="row" style="padding-top: 40px;height:210px">
		                                	<div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group">
		                                        	<label>手机号</label>
		                                        	<input type="text" class="form-control" name="phone" id="phone" placeholder="手机号">
		                                        	<div  id="scan"></div>
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5">
		                                    	<div class="form-group">
		                                        	<label>验证码</label>		                                        	
		                                            	<input type="text" class="form-control" name="code" id="code1" placeholder="验证码">
		                                            	<div  id="scan1"></div>
		                                        	</div>
		                                    	</div>
		                                	</div>
		                                <div class="row" style="padding-top: 40px">
	                            		<div class="col-sm-5 col-sm-offset-2">
	                            		<button  class='btn  btn-fill btn-success btn-wd' id="code">获取验证码</button>
	                            		</div>
	                            		
	                            		<div class="col-sm-5">
	                                    <input type='button' class='btn  btn-fill btn-success btn-wd' id="first" value='下一步' />
	                                    </div>
	                                    </div>
		                            
		                            </div>
		                           
		                          
		                            <div class="tab-pane" id="type">
		                                <div class="row" style="padding-top: 20px;height:230px" >
		                                	<div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group">
		                                        	<label>昵称</label>
		                                        	<input type="text" class="form-control" name="nickname" id="nickName" placeholder="昵称">
		                                        	<div  id="scan2"></div>
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5">
		                                    	<div class="form-group">
		                                        	<label>邮箱</label>		                                        	
		                                            	<input type="text" class="form-control" name="email" id="email" placeholder="邮箱">
		                                            	<div  id="scan7"></div>
		                                        	</div>
		                                    	</div>
		                                    	<div class="col-sm-12">
		                                    		</div>
		                                    		<div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group">
		                                        	<label>密码</label>
		                                        	<input type="password" class="form-control" name="password"  id="password" placeholder="密码">
		                                        	<div  id="scan3"></div>
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5">
		                                    	<div class="form-group">
		                                        	<label>确认密码</label>		                                        	
		                                            	<input type="password" class="form-control" name="password2" id="password2" placeholder="确认密码">
		                                            	<div  id="scan4"></div>
		                                        	</div>
		                                    	</div>
		                                	</div>
		                                <div class="row" style="padding-top: 20px">
	                            		<div class="col-sm-5 col-sm-offset-2">
	                            		<input type='button' class='btn  btn-fill btn-success btn-wd' id="tofirst" value='上一步' />
	                            		</div>
	                            		<div class="col-sm-5">
	                                    <input type='button' class='btn  btn-fill btn-success btn-wd' id="second" value='下一步' />
	                                    </div>
	                                    </div>
		                            </div>
		                            <div class="tab-pane" id="facilities">
		                              <div class="row" style="padding-top: 40px;height:210px">
		                                	<div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group">
		                                        	<label>身份证号</label>
		                                        	<input type="text" class="form-control" name="identityCard" id="identityCard" placeholder="身份证号">
		                                        	<div  id="scan5"></div>
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5">
		                                    	<div class="form-group">
		                                        	<label>真实姓名</label>		                                        	
		                                            	<input type="text" class="form-control" name="realName" id="realName" placeholder="真实姓名">
		                                            	<div  id="scan6"></div>
		                                        	</div>
		                                    	</div>
		                                	</div>
		                                  
		                                	 <div  id="scan7"></div>
		                                	
		                                	 <div class="row" style="padding-top: 40px;">
	                            		<div class="col-sm-5 col-sm-offset-2">
	                            		<input type='button' class='btn  btn-fill btn-success btn-wd' id="tosecond" value='上一步' />
	                            		</div>
	                            		
	                            		<div class="col-sm-5">
	                                    <input type='submit' class='btn  btn-fill btn-success btn-wd' id="register" value='注册' />
	                                    </div>
	                                    </div>
		                            </div>
		                            
		                        </div>
		                        </div>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->
	</div>

</body>

	<!--   Core JS Files   -->
	<script th:src="@{static/loginandregister/js/jquery-2.2.4.min.js}" type="text/javascript"></script>
	<script th:src="@{static/loginandregister/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{static/loginandregister/js/jquery.bootstrap.wizard.js}" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script th:src="@{static/loginandregister/js/paper-bootstrap-wizard.js}" type="text/javascript"></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script th:src="@{static/loginandregister/js/jquery.validate.min.js}" type="text/javascript"></script>
<script>
	$(function(){
	var code;
	var is="false";
	var InterValObj; //timer变量，控制时间
	var count = 60; //间隔函数，1秒执行
	var curCount;
	var phone1;//当前剩余秒数
     $("#second").click(function(){
    	 if(checknickName()&&checkPassword()&&checkPassword2()&&checkemail())
    		 {
    	$("li:eq(2)").addClass("active");
    	$(".tab-pane:eq(2)").css("display","inline");
    	$(".tab-pane:eq(1)").css("display","none");
    		 }
    	 else{
    		 alert("错误")
    	 }
    })
     
      $("#tofirst").click(function(){
    	$("li:eq(1)").removeClass("active");
    	$(".tab-pane:eq(0)").css("display","inline");
    	$(".tab-pane:eq(1)").css("display","none");
    })
      
       $("#tosecond").click(function(){
    	$("li:eq(2)").removeClass("active");
    	$(".tab-pane:eq(1)").css("display","inline");
    	$(".tab-pane:eq(2)").css("display","none");
    })
       
       $("#code").click(function(){
    	var phone=$("#phone").val();
    	phone1=phone;
    	if(checkphone())
    	{
    		
    		$.ajax({
			type:'post',
			url:'phoneAjax',
			async:false,
			data:{phone:phone},
			dataType:'text',
			success:function(e){
				code=e;
				curCount = count;
                 //设置button效果，开始计时
                 $("#code").css("background-color", "LightSkyBlue");
                 $("#code").attr("disabled", "true");
                 $("#code").html("获取" + curCount + "秒");
                 InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
                // alert("验证码发送成功，请查收!");
				}
    	});    		
    	}
      })
       
      function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $("#code").removeAttr("disabled");//启用按钮
            $("#code").css("background-color", "");
            $("#code").html("重发验证码");
            code = ""; //清除验证码。如果不清除，过时间后，输入收到的验证码依然有效
        }
        else {
            curCount--;
            $("#code").html("获取" + curCount + "秒");
        }
    }
        $("#first").click(function(){
    	var code1=$("#code1").val();
    	var phone=$("#phone").val();
    	var $msg=$('#scan').html("");
    	if(phone!=phone1)
    		{
    		$msg.html("<font style=\"color: #BD2D29;\">请获取验证码</font>");
    		}
    	if(code1==code&&code!=""&&phone==phone1)
    		{
    		$("li:eq(1)").addClass("active");
        	$(".tab-pane:eq(1)").css("display","inline");
        	$(".tab-pane:eq(0)").css("display","none");
    		}
    	else{
    	$("#scan1").html("<font style=\"color: #BD2D29;\">验证码不正确</font>");
    	}
      })
   $("#phone").blur(checkphone);
   $("#email").blur(checkemail);
   $("#nickName").blur(checknickName);
   $("#password").blur(checkPassword);
   $("#password2").blur(checkPassword2);
   $("#identityCard").blur(checkidentityCard);
   $("#realName").blur(checkrealName);
    function checkphone()
    {
   			var phone=$("#phone").val();
   			var $msg=$('#scan').html("");
   			$('#scan').css("height","");
   			if(phone==''){
   				$('#scan').css("height","30px");
   				$msg.html("<font style=\"color: #BD2D29;\">手机号不能为空</font>");
				
			
   				return false;
   			}else if(bblur())
   			{
   				
   				$msg.html("<font style=\"color: #BD2D29;\">手机号已经注册</font>");
   				return false;
   			}
   			
   			$msg.html("<font style=\"color:  #01B6AD;\">输入正确</font>");
   			return true;
    }
   var bblur=function()
    {
	    var $msg=$('#scan').html("");
		var phone=$("#phone").val();
	    var check
		$.ajax({
			type:'post',
			url:'registerAjax',
			data:{phone:phone},
			async:false,
			dataType:'text',
			success:function(e){
			
				if(e=="1")
			    {
					
					$msg.html("<font style=\"color: #BD2D29;\">手机号已经注册</font>");
					check=true;
					
					
				}
				else{
				
					check=false;
				}
			}
		});
	   
	    return check;
	  }
  
   function checknickName(){
  	 var nickName=$("#nickName").val();
			var $msg=$('#scan2').html("");
			if(nickName==''){
				
				$msg.html("<font style=\"color: #BD2D29;\">昵称不能为空</font>");
				return false;
			}
			$msg.html("<font style=\"color:  #01B6AD;\">输入正确</font>");
			return true; 
  	 
   }
   function checkemail(){
	  	 var email=$("#email").val();
				var $msg=$('#scan7').html("");
				var isEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
				if(email==''){
					$msg.html("<font style=\"color: #BD2D29;\">邮箱不能为空</font>");
					return false;
				}
				else if(!(isEmail.test(email))){
					$msg.html("<font style=\"color: #BD2D29;\">邮箱格式不正确</font>");
					return false;
				 }
				$msg.html("<font style=\"color:  #01B6AD;\">输入正确</font>");
				return true; 
	  	 
	   }
   function checkPassword(){
  	 var Password=$("#password").val();
			var $msg=$('#scan3').html("");
			if(Password.length<6){
				$msg.html("<font style=\"color: #BD2D29;\">密码长度不能小于6</font>");
				return false;
			}
			$msg.html("<font style=\"color:  #01B6AD;\">输入正确</font>");
			return true; 
   }
   function checkPassword2(){
  	 var Password=$("#password").val();
  	 var Password2=$("#password2").val();
		 var $msg=$('#scan4').html("");
		 if(Password2=="")
			 {
			
			 return false;
			 }
		 
			if(Password!=Password2){
				$msg.html("<font style=\"color: #BD2D29;\">密码不一致</font>");
				return false;
			}
			$msg.html("<font style=\"color:  #01B6AD;\">输入正确</font>");
			return true; 
   }
   
   var bblur1=function()
   {
	    var $msg=$('#scan5').html("");
		var identityCard=$("#identityCard").val();
	    var check
		$.ajax({
			type:'post',
			url:'identityAjax',
			data:{identityCard:identityCard},
			async:false,
			dataType:'text',
			success:function(e){
				if(e==1)
			    {
					$msg.html("<font style=\"color: #BD2D29;\">身份证号已经注册</font>");
					
					check=true
				}
				else{
					
					check=false;
				}
			}
		});
	    return check;
	  }
   
   function checkidentityCard()
   {
  			var identityCard=$("#identityCard").val();
  			var $msg=$('#scan5').html("");
  			$('#scan').css("height","");
  			if(identityCard==''){
  				$('#scan').css("height","30px");
  				$msg.html("<font style=\"color: #BD2D29;\">身份证号不能为空</font>");
				
  				return false;
  			}else if(bblur1())
  			{
  				$msg.html("<font style=\"color: #BD2D29;\">身份证号已经注册</font>");
  				return false;
  			}
  			$msg.html("<font style=\"color:  #01B6AD;\">输入正确</font>");
  			return true; 
   }
   
   $("#Identification").click(function(){
   	var identityCard=$("#identityCard").val();
	var realName=$("#realName").val();
	var $msg=$('#scan7').html("");
	if(checkrealName()){
   	if(checkidentityCard())
   	{
   		alert(checkidentityCard());
   		alert("11");
   		$.ajax({
			type:'post',
			url:'IdentificationAjax',
			async:false,
			data:{identityCard:identityCard,realName:realName},
			dataType:'text',
			success:function(e){
				is=e;
				alert(e);
				if(e==true)
					{
					$msg.html("<font style=\"color:  #01B6AD;\">身份验证成功</font>");
					}
				else{
					 $msg.html("<font style=\"color: #BD2D29;\">身份验证失败</font>");
				}
				}
         	});    		
   	}
	}
   	
})

   	$("form").submit(function(){
   		var identityCard=$("#identityCard").val();
   		var realName=$("#realName").val();
   		if(checkrealName()&&checkidentityCard())
   		{
   	
     	   		$.ajax({
   				type:'post',
   				url:'IdentificationAjax',
   				async:false,
   				data:{identityCard:identityCard,realName:realName},
   				dataType:'text',
   				success:function(e){
   					is=e;
   					
   					}
   	         	}); 
   		
   	   	}
		if(is=="false")
	   		{	
			alert(is);
	   	    $('#scan6').html("<font style=\"color: #BD2D29;\">身份验证失败</font>");
	   	    return false;
	   		}
		else{

	   		return true;
	   		}
   		
   	})
   	function checkrealName(){
	  	 var realName=$("#realName").val();
				var $msg=$('#scan6').html("");
				if(realName==''){
					$msg.html("<font style=\"color: #BD2D29;\">真实姓名不能为空</font>");
  				return false;
				}
				$msg.html("<font style=\"color:  #01B6AD;\">输入正确</font>");
				return true; 
	  	 
	   }
   
   //var value = password.value; //获取用户在文本框里面填写的值
   //获取所有的span标签 返回值是一个数组
  $("#password").keyup(function(){
	var $msg=$('#scan3').html("");
	var Password=$("#password").val();
    //获取用户输入的密码,然后判断其强度 返回0 或者 1 2 3 4
    var index = checkPassWord1(Password);
    if(index==1){//0 代表false 其余代表true
    	 $msg.html("<font style=\"color: #BD2D29;\">密码强度：弱</font>");
     }
    if(index==2){//0 代表false 其余代表true
   	 $msg.html("<font style=\"color: #FFA500;\">密码强度：中</font>");
    }
    if(index==3){//0 代表false 其余代表true
    	$msg.html("<font style=\"color:  #01B6AD;\">密码强度：强</font>");
       }
    
  }) 
   
 //校验密码强度
   function checkPassWord1(value){
    // 0： 表示第一个级别 1：表示第二个级别 2：表示第三个级别
    // 3： 表示第四个级别 
    var modes = 0;
    if(value.length < 6){//最初级别
     return modes;
    }
    if(/\d/.test(value)){//如果用户输入的密码 包含了数字
     modes++;
    }
    if(/[a-z]/.test(value)){//如果用户输入的密码 包含了小写的a到z
     modes++;
    }
    if(/[A-Z]/.test(value)){//如果用户输入的密码 包含了大写的A到Z
     modes++;
    }
    switch(modes){
     case 1 :
      return 1;
      break;
     case 2 :
      return 2;
      break;
     case 3 :
      return 3;
      break;
    }
   }

});	
</script>
</html>
