<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neueduexam.dao.personexampaperMapper" >
  <resultMap id="BaseResultMap" type="neueduexam.entity.personexampaper" >
    <id column="pExamId" property="pexamid" jdbcType="INTEGER" />
    <result column="testId" property="testid" jdbcType="INTEGER" />
    <result column="stuId" property="stuid" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="stuNickName" property="stunickname" jdbcType="VARCHAR" />
    <result column="browser" property="browser" jdbcType="VARCHAR" />
    <result column="ipAddress" property="ipaddress" jdbcType="VARCHAR" />
    <result column="operatingSystem" property="operatingsystem" jdbcType="VARCHAR" />
    <result column="changeOut" property="changeout" jdbcType="INTEGER" />
    <result column="duration" property="duration" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="local" property="local" jdbcType="VARCHAR" />
    <result column="other1" property="other1" jdbcType="VARCHAR" />
    <result column="other2" property="other2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pExamId, testId, stuId, score, stuNickName, browser, ipAddress, operatingSystem, 
    changeOut, duration, state, local, other1, other2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="neueduexam.entity.personexampaperExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personexampaper
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from personexampaper
    where pExamId = #{pexamid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from personexampaper
    where pExamId = #{pexamid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="neueduexam.entity.personexampaperExample" >
    delete from personexampaper
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="neueduexam.entity.personexampaper" >
    insert into personexampaper (pExamId, testId, stuId, 
      score, stuNickName, browser, 
      ipAddress, operatingSystem, changeOut, 
      duration, state, local, 
      other1, other2)
    values (#{pexamid,jdbcType=INTEGER}, #{testid,jdbcType=INTEGER}, #{stuid,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{stunickname,jdbcType=VARCHAR}, #{browser,jdbcType=VARCHAR}, 
      #{ipaddress,jdbcType=VARCHAR}, #{operatingsystem,jdbcType=VARCHAR}, #{changeout,jdbcType=INTEGER}, 
      #{duration,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{local,jdbcType=VARCHAR}, 
      #{other1,jdbcType=VARCHAR}, #{other2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="neueduexam.entity.personexampaper" >
    insert into personexampaper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pexamid != null" >
        pExamId,
      </if>
      <if test="testid != null" >
        testId,
      </if>
      <if test="stuid != null" >
        stuId,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="stunickname != null" >
        stuNickName,
      </if>
      <if test="browser != null" >
        browser,
      </if>
      <if test="ipaddress != null" >
        ipAddress,
      </if>
      <if test="operatingsystem != null" >
        operatingSystem,
      </if>
      <if test="changeout != null" >
        changeOut,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="local != null" >
        local,
      </if>
      <if test="other1 != null" >
        other1,
      </if>
      <if test="other2 != null" >
        other2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pexamid != null" >
        #{pexamid,jdbcType=INTEGER},
      </if>
      <if test="testid != null" >
        #{testid,jdbcType=INTEGER},
      </if>
      <if test="stuid != null" >
        #{stuid,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="stunickname != null" >
        #{stunickname,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="ipaddress != null" >
        #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="operatingsystem != null" >
        #{operatingsystem,jdbcType=VARCHAR},
      </if>
      <if test="changeout != null" >
        #{changeout,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="local != null" >
        #{local,jdbcType=VARCHAR},
      </if>
      <if test="other1 != null" >
        #{other1,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null" >
        #{other2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="neueduexam.entity.personexampaperExample" resultType="java.lang.Integer" >
    select count(*) from personexampaper
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personexampaper
    <set >
      <if test="record.pexamid != null" >
        pExamId = #{record.pexamid,jdbcType=INTEGER},
      </if>
      <if test="record.testid != null" >
        testId = #{record.testid,jdbcType=INTEGER},
      </if>
      <if test="record.stuid != null" >
        stuId = #{record.stuid,jdbcType=INTEGER},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.stunickname != null" >
        stuNickName = #{record.stunickname,jdbcType=VARCHAR},
      </if>
      <if test="record.browser != null" >
        browser = #{record.browser,jdbcType=VARCHAR},
      </if>
      <if test="record.ipaddress != null" >
        ipAddress = #{record.ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.operatingsystem != null" >
        operatingSystem = #{record.operatingsystem,jdbcType=VARCHAR},
      </if>
      <if test="record.changeout != null" >
        changeOut = #{record.changeout,jdbcType=INTEGER},
      </if>
      <if test="record.duration != null" >
        duration = #{record.duration,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.local != null" >
        local = #{record.local,jdbcType=VARCHAR},
      </if>
      <if test="record.other1 != null" >
        other1 = #{record.other1,jdbcType=VARCHAR},
      </if>
      <if test="record.other2 != null" >
        other2 = #{record.other2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personexampaper
    set pExamId = #{record.pexamid,jdbcType=INTEGER},
      testId = #{record.testid,jdbcType=INTEGER},
      stuId = #{record.stuid,jdbcType=INTEGER},
      score = #{record.score,jdbcType=INTEGER},
      stuNickName = #{record.stunickname,jdbcType=VARCHAR},
      browser = #{record.browser,jdbcType=VARCHAR},
      ipAddress = #{record.ipaddress,jdbcType=VARCHAR},
      operatingSystem = #{record.operatingsystem,jdbcType=VARCHAR},
      changeOut = #{record.changeout,jdbcType=INTEGER},
      duration = #{record.duration,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR},
      local = #{record.local,jdbcType=VARCHAR},
      other1 = #{record.other1,jdbcType=VARCHAR},
      other2 = #{record.other2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="neueduexam.entity.personexampaper" >
    update personexampaper
    <set >
      <if test="testid != null" >
        testId = #{testid,jdbcType=INTEGER},
      </if>
      <if test="stuid != null" >
        stuId = #{stuid,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="stunickname != null" >
        stuNickName = #{stunickname,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        browser = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="ipaddress != null" >
        ipAddress = #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="operatingsystem != null" >
        operatingSystem = #{operatingsystem,jdbcType=VARCHAR},
      </if>
      <if test="changeout != null" >
        changeOut = #{changeout,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="local != null" >
        local = #{local,jdbcType=VARCHAR},
      </if>
      <if test="other1 != null" >
        other1 = #{other1,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null" >
        other2 = #{other2,jdbcType=VARCHAR},
      </if>
    </set>
    where pExamId = #{pexamid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="neueduexam.entity.personexampaper" >
    update personexampaper
    set testId = #{testid,jdbcType=INTEGER},
      stuId = #{stuid,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      stuNickName = #{stunickname,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      ipAddress = #{ipaddress,jdbcType=VARCHAR},
      operatingSystem = #{operatingsystem,jdbcType=VARCHAR},
      changeOut = #{changeout,jdbcType=INTEGER},
      duration = #{duration,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      local = #{local,jdbcType=VARCHAR},
      other1 = #{other1,jdbcType=VARCHAR},
      other2 = #{other2,jdbcType=VARCHAR}
    where pExamId = #{pexamid,jdbcType=INTEGER}
  </update>
</mapper>