<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neueduexam.dao.mygroupMapper" >
  <resultMap id="BaseResultMap" type="neueduexam.entity.mygroup" >
    <id column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="groupname" property="groupname" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="groupprofile" property="groupprofile" jdbcType="VARCHAR" />
    <result column="other2" property="other2" jdbcType="VARCHAR" />
    <result column="other1" property="other1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    groupid, groupname, userid, nickname, groupprofile, other2, other1
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="neueduexam.entity.mygroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mygroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mygroup
    where groupid = #{groupid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mygroup
    where groupid = #{groupid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="neueduexam.entity.mygroupExample" >
    delete from mygroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="neueduexam.entity.mygroup" >
    insert into mygroup (groupid, groupname, userid, 
      nickname, groupprofile, other2, 
      other1)
    values (#{groupid,jdbcType=INTEGER}, #{groupname,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{nickname,jdbcType=VARCHAR}, #{groupprofile,jdbcType=VARCHAR}, #{other2,jdbcType=VARCHAR}, 
      #{other1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="neueduexam.entity.mygroup" >
    insert into mygroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="groupname != null" >
        groupname,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="groupprofile != null" >
        groupprofile,
      </if>
      <if test="other2 != null" >
        other2,
      </if>
      <if test="other1 != null" >
        other1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="groupname != null" >
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="groupprofile != null" >
        #{groupprofile,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null" >
        #{other2,jdbcType=VARCHAR},
      </if>
      <if test="other1 != null" >
        #{other1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="neueduexam.entity.mygroupExample" resultType="java.lang.Integer" >
    select count(*) from mygroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mygroup
    <set >
      <if test="record.groupid != null" >
        groupid = #{record.groupid,jdbcType=INTEGER},
      </if>
      <if test="record.groupname != null" >
        groupname = #{record.groupname,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.groupprofile != null" >
        groupprofile = #{record.groupprofile,jdbcType=VARCHAR},
      </if>
      <if test="record.other2 != null" >
        other2 = #{record.other2,jdbcType=VARCHAR},
      </if>
      <if test="record.other1 != null" >
        other1 = #{record.other1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mygroup
    set groupid = #{record.groupid,jdbcType=INTEGER},
      groupname = #{record.groupname,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=INTEGER},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      groupprofile = #{record.groupprofile,jdbcType=VARCHAR},
      other2 = #{record.other2,jdbcType=VARCHAR},
      other1 = #{record.other1,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="neueduexam.entity.mygroup" >
    update mygroup
    <set >
      <if test="groupname != null" >
        groupname = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="groupprofile != null" >
        groupprofile = #{groupprofile,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null" >
        other2 = #{other2,jdbcType=VARCHAR},
      </if>
      <if test="other1 != null" >
        other1 = #{other1,jdbcType=VARCHAR},
      </if>
    </set>
    where groupid = #{groupid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="neueduexam.entity.mygroup" >
    update mygroup
    set groupname = #{groupname,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      groupprofile = #{groupprofile,jdbcType=VARCHAR},
      other2 = #{other2,jdbcType=VARCHAR},
      other1 = #{other1,jdbcType=VARCHAR}
    where groupid = #{groupid,jdbcType=INTEGER}
  </update>
  
  
  
  
  
   <insert id="insertandgetkey"  parameterType="neueduexam.entity.mygroup" >
     <selectKey keyProperty="groupid" order="AFTER" resultType="int">
      select LAST_INSERT_ID() 
      </selectKey>
       insert into mygroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="groupname != null" >
        groupname,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="groupprofile != null" >
        groupprofile,
      </if>
      <if test="other2 != null" >
        other2,
      </if>
      <if test="other1 != null" >
        other1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="groupname != null" >
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="groupprofile != null" >
        #{groupprofile,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null" >
        #{other2,jdbcType=VARCHAR},
      </if>
      <if test="other1 != null" >
        #{other1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  
</mapper>